/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
/* html {
    scrollbar-width: none;
  } */

/* For Edge/IE (optional, doesn't always work) */
/* body {
    -ms-overflow-style: none;
  } */
